@import "./colors.scss";
.hero {
    height: 70vh;
    background-size: cover;
    background-image: url("../public/img/road-gbde3c78ba_1920.jpg");
}

.dark-transparent {
   
    background: rgba(0, 0, 0, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);

}


.card {
    transition: 1s;
   

}

.card:hover {
    transition: 1s;
    box-shadow: none !important;
    border-radius: 10px;
    background-color: rgba($color: $primary, $alpha: 0.1);

   

}

.card-rounded {
    border-radius: 20rem !important;
}

.nav-link:hover {
    color: $primary;
    transition: 1s;
   

}